.navbar {
  background: black;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  position: sticky;
  top: 0;
  z-index: 999;
}

.navbar-container {
  display: flex;
  padding-right: 25rem;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  align-items: center;
  height: 75px;
  max-width: 1200px;
}

.navbar-logo {
  color: #fff;
  justify-self: start;
  margin-left:50px;
  cursor: pointer;
  text-decoration: none;
  font-size: 1.5rem;
  display: inline-flex;
  align-items: center;
}

.fa-typo3 {
  margin-left: 0.5rem;
  font-size: 1.8rem;
}

.nav-menu {
  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-gap: 10px;
  list-style: none;
  text-align: center;
  width: 60vw;
  justify-content: end;
  margin-right: 2rem;
}

.nav-item {
  height: 80px;
}

.nav-links {
  color: #fff;
  display: flex;
  align-items: center;
  text-decoration: none;
  padding: 0.5rem 1rem;
  height: 100%;
}

.nav-links:hover {
  border-bottom: 4px solid #fff;
  transition: all 0.2s ease-out;
}

.fa-bars {
  color: #fff;
}

.nav-links-mobile {
  display: none;
}

.menu-icon {
  display: none;
}

@media screen and (max-width: 960px) {
  .NavbarItems .navbar-logo {
    position: relative;
  }

  .nav-menu {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 90vh;
    position: absolute;
    top: 80px;
    left: -100%;
    opacity: 1;
    transition: all 0.5s ease;
  }

  .nav-menu.active {
    background: #242222;
    left: 0;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 1;
  }

  .nav-links {
    text-align: center;
    padding: 2rem;
    width: 100%;
    display: table;
  }

  .nav-links:hover {
    background-color: #fff;
    color: #242424;
    border-radius: 0;
  }

  .navbar-logo {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(25%, 50%);
  }

  .menu-icon {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-100%, 60%);
    font-size: 1.8rem;
    cursor: pointer;
  }

  .fa-times {
    color: #fff;
    font-size: 2rem;
  }

  .nav-links-mobile {
    display: block;
    text-align: center;
    margin: 2rem auto;
    border-radius: 4px;
    width: 80%;
    text-decoration: none;
    font-size: 1.5rem;
    background-color: transparent;
    color: #fff;
    padding: 14px 20px;
    border: 1px solid #fff;
    transition: all 0.3s ease-out;
  }

  .nav-links-mobile:hover {
    background: #fff;
    color: #242424;
    transition: 250ms;
  }
}




/*navbar CSS */

/*.navbar-brand {
  color: #222;
  position: fixed;
  width: 100%;
  padding: 15px 0;
  font-family: "Roboto", sans-serif;
}
.active {
  color: white;
}
.navbar .max-width {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar-nav {
  color: white;
  align-items: center;
}
.navbar .logo a {
  color: #fff;
  font-size: 35px;
  font-weight: 600;
}
.nav-item {
  display: inline-flex;
  color: white;
  font-size: 20px;
  margin-left: 20px;
  padding: 5px;
}
.navbar .menu li {
  color: white;
  list-style: none;
  display: inline-block;
}

.navbar .menu li a {
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  margin-left: 25px;
  transition: color 0.3s ease;
}

.navbar .menu li a:hover {
  color: rgb(9, 255, 222);
}

/*Scroll button*/

/*.scroll-up-btn {
  position: fixed;
  height: 45px;
  width: 42px;
  background: rgb(10, 223, 194);
  right: 30px;
  bottom: 10px;
  text-align: center;
  line-height: 45px;
  color: #fff;
  z-index: 9999;
  font-size: 30px;
  border-radius: 6px;
  cursor: pointer;
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s ease;
}

.scroll-up-btn.show {
  opacity: 1;
  pointer-events: auto;
  bottom: 30px;
}

/* Menu Button*/

/*.menu-btn {
  color: #fff;
  font-size: 20px;
  cursor: pointer;
  display: none;
}

.menu-btn i.active:before {
  content: "\f00d";
}

/* Home Section */

/*.home {
  display: flex;
  background-size: cover;
  height: 100vh;
  color: white;
  min-height: 500px;
}

.home .home-content .text-1 {
  font-size: 50px;
  justify-content: center;
  font-family: "Roboto", sans-serif;
}

.text-1 {
  scroll-padding-left: 175px;
}

.home .home-content .text-2 {
  font-size: 100px;
  font-weight: 600px;
  font-family: "Roboto", sans-serif;
}

/*About Section*/

/*.column-right {
  padding-left: 100px;
}

.about {
  font-family: "Roboto", sans-serif;
  color: #fff;
  padding-left: 100px;
}
#about-me {
  padding-left: 650px;
  padding-bottom: 40px;
}
.about .about-content {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.about .about-content .column-left {
  width: 45%;
}

.about .about-content .column-left {
  height: 200px;
  width: 200px;
  object-fit: cover;
  border-radius: 6px;
  padding-left: 100px;
}

.about .about-content .column-right {
  width: 55%;
  font-size: 25px;
  font-weight: 400;
  margin-bottom: 10px;
}

.about .about-content .column-right a {
  display: inline-block;
  background: rgb(10, 223, 194);
  color: #fff;
  font-size: 20px;
  padding: 10px 30px;
  margin-top: 20px;
  margin-right: 100px;
  border-radius: 6px;
  border: 2px solid rgb(10, 223, 194);
  transition: all 0.3s ease;
}

.about .about-content .column-right a:hover {
  color: rgb(10, 223, 194);
  background: none;
}
.profilePic {
  height: 200px;
  width: 200px;
  object-fit: cover;
  border-radius: 6px;
  margin-right: 20px;
}

/*Services Section*/

/*.services {
  font-family: "Roboto", sans-serif;
  color: #fff;
}*/

/*.services .service-content .card {
  width: calc(33%-20px);
  background: #222;
  text-align: center;
  border-radius: 6px;
  padding: 25px 25px;
  cursor: pointer;
}*/

/*.services .title {
  position: relative;
  text-align: center;
  font-size: 40px;
  font-weight: 500px;
  margin-bottom: 60px;
  padding-bottom: 20px;
  font-family: "Roboto", sans-serif;
}*/
